/* .commentItem-hoverBtn {
  margin-left: 10px !important;
  display: none !important;
} */

.commentItem-action :not(:first-child) {
  margin-left: 10px !important;
  display: none !important;
}

.comment :hover .commentItem-hoverBtn {
  display: inline-block !important;
}

.replyBtn :checked ~ .replayInput {
  color: brown !important;
}
